<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Mantenimiento Pedidos</div>
			<div class="card-body">

				<a th:href="@{/deliveries/new}" class="btn btn-primary">Nuevo</a>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Direccion</th>
							<th>Motorizado</th>
							<th>Recepcionista</th>
							<th>Fecha</th>
							<th>Categoria</th>
							<th>Ver</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="delivery : ${deliveries}">

							<td th:text="${delivery.id}">1</td>
							<td th:text="${delivery.address}">HAMP</td>
						<td><th:block th:each="employee : ${delivery.motorized}">
									<span th:text="${employee.name} + ' '">Item description
										here...</span>
								</th:block>
							</td>
							<td><th:block th:each="employee : ${delivery.callReceptionists}">
									<span th:text="${employee.name} + ' '">Item description
										here...</span>
								</th:block>
							</td>
							<td><a th:href="@{'/deliveries/show/' + ${delivery.id}}"
								class="btn btn-primary">Ver</a></td>
							<td><a th:href="@{'/deliveries/edit/'+ ${delivery.id}}"
								class="btn btn-success">Editar</a></td>
							<td><a th:href="@{'/deliveries/delete/' + ${delivery.id}}"
								class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>